* { box-sizing: border-box }

body{
  margin:0;
  padding:0;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size:160%;
}
header, footer{
  min-height: 40px;
}
.four{
  background-color: #E0E0E0;
  min-height: 90vh;
}
